{block title}Site administration{/block}
{block description}Site administration.{/block}
{block content}
<p>Welcome to the administration! You are logged in as <b>{$username}</b>.</p>
<p n:if="!$user->isInRole('admin')">You do not have administrator privileges, ask the site administrator to assign them to you.</p>
<h2><a n:href=Task:editor>Item editor</a></h2>
<h2><a n:href=Task:list>List of tasks</a></h2>
<h2><a n:href=logout>Log out</a></h2>
